<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3">
      <h1 class="text-center login-title">&nbsp;</h1>
      <h1 class="text-center login-title">&nbsp;</h1>
      <div class="account-wall" >

        <h3 class="card-description text-center">Login</h3>
        <div class="form-signin">
          <input type="text" class="form-control" [(ngModel)]='cmpnyName' placeholder="Company Name" required>
          <br>
          <input type="text" class="form-control" [(ngModel)]='username' placeholder="User Name" required>
          <br>
          <input [(ngModel)]='password' placeholder="Password" type="password" class="form-control" required>
          <br>
          <div>
              <button  matTooltip=" Sign In" mat-stroked-button class="btn btn-primary btn-sm " (click)="Login()" style="margin:5px 20px 20px 10px">
              Sign In
              </button>
              <a matTooltip="Company Registration"  color="primary"  routerLink= "/Company">Sign Up</a>
            </div>

        </div>
      </div>

    </div>
  </div>
</div>



