<nav aria-label="breadcrumb">
  <ol class="breadcrumb primaryb200" style="    padding: 25px 15px;">
    <li class="breadcrumb-item">
      <a routerLink="/Admin/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a routerLink="/Admin/property">Property</a>
    </li>
  </ol>
</nav>
<div class="container-fluid">

  <div class="row-fluid">&nbsp;</div>
  <div class="row-fluid">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <mat-card class="example-card mat-elevation-z10 text-primary" style="padding: 50px;">
        <mat-card-header style="margin: 25px 0px!important;">
          <mat-card-title>
            <h3> Property Details</h3>

          </mat-card-title>
          <!--mat-card-subtitle>Dog Breed</mat-card-subtitle-->
        </mat-card-header>
        <mat-card-content>
          <div class="example-container">
            <mat-form-field>
              <input matInput [(ngModel)]="cd.CompanyName" placeholder="CompanyName">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="cd.GSTNo" placeholder="GSTNo">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput [(ngModel)]="ua.LoginId" placeholder="LoginId">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput [(ngModel)]="ua.Password" placeholder="Password">
            </mat-form-field>
            <br>
            <div class="col-md-4">
              <button mat-raised-button color="primary" (click)="cs.SaveCompanyDetail(cd,ua.LoginId,ua.Password)" style="float:left">Submit</button>
              <a routerLink="/Admin/property" mat-raised-button color="primary" style="float:left ; margin: 0px 5px;">Back</a>
            </div>


          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<br>
<br>





<!--
<nav aria-label="breadcrumb">

  </nav>

  <div class="container-fluid">
    <br>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-card class="example-card mat-elevation-z10">
          <mat-card-header>
            <mat-card-title>
              <h1>
                {{title}}
              </h1>
            </mat-card-title>

          </mat-card-header>
          <mat-card-content>
            <div>
              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>Company Name</mat-label>
                  <input id="CompanyName" #model="ngModel" matInput [(ngModel)]="cd.CompanyName" required>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>Address Line 1</mat-label>
                  <input id="AddressLine1" #model="ngModel" matInput [(ngModel)]="cd.AddressLine1">

                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>Address Line 2</mat-label>
                  <input id="AddressLine2" #model="ngModel" matInput [(ngModel)]="cd.AddressLine2">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>Postal Code</mat-label>
                  <input id="PostalCode" #model="ngModel" matInput [(ngModel)]="cd.PostalCode">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>MobileNo</mat-label>
                  <input id="MobileNo" #model="ngModel" matInput [(ngModel)]="cd.MobileNo">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>EmailId</mat-label>
                  <input id="EmailId" #model="ngModel" matInput [(ngModel)]="cd.EmailId">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>Website</mat-label>
                  <input id="Website" #model="ngModel" matInput [(ngModel)]="cd.Website">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>GstNo</mat-label>
                  <input id="GSTNo" #model="ngModel" matInput [(ngModel)]="cd.GSTNo">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>Username</mat-label>
                  <input id="username" #model="ngModel" matInput [(ngModel)]="ua.LoginId">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="legacy">
                  <mat-label>Password</mat-label>
                  <input id="password" #model="ngModel" matInput [(ngModel)]="ua.Password">
                </mat-form-field>
              </div>

              <div>
                <button matTooltip="Save" mat-stroked-button color="primary" class="btn btn-primary btn-sm btn-block" (click)="cs.SaveCompanyDetail(cd,ua.LoginId,ua.Password)">
                  Save
                </button>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
  <br>
  <br> -->
